.wrapper_header
	.wrapper_header_navigations
		.header_navigations
			.header_navigations_left
				ul
					li
						a(href="#") ГЛАВНАЯ
					li
						a(href="#") О КОМПАНИИ
					li
						a(href="#") НОВОСТИ
					li
						a(href="#") ТАРИФЫ
					li
						a(href="#") КОНТАКТЫ
					li.li_header_style
						a.a_header_style(href="#") СМОТРЕШКА
					li.li_header_style
						a.a_header_style(href="#") КТВ
			.header_navigations_right
				span.user_img
					img(src="./img/user.png", alt="", width='15px', height='15px')
				span.personal_cabinet
					a(href="") ЛИЧНЫЙ КАБИНЕТ
	.wrapper_header_logo
		.header_logo
			.header_logo_left
				.logo_img
					img(src="./img/logo.png", alt="")
				.search
					input.search_input(type="search", placeholder="Поиск по сайту")
					span.search_icon
						i.fa.fa-search
					span.telefon +7 (351) 200-34-56
					.request_call 
						span Заказать звонок
					.connect 
						span Подключиться
