.slider_wrap
	.slick
		div
			.slide-1
				.slide-1_text
					h1 У нас новая акция - накопительная скидка!
					p Теперь вы можете пользоваться нашими услугами со скидкой до 10%! Для этого нужно своевременно вносить платежи за интернет/телевидение и с каждым месяцем Ваша скидка будет увеличиваться на 1%. Максимальная скидка по акции 10%, для льготной категории граждан - 20%.
					button.slick_text_button Подробнее
		div
			.slide-2
		div
			.slide-3
		div
			.slide-4